{% extends 'LineStormBlogBundle:Admin:layout.html.twig' %}
{% block page_title %}New Blog Post{% endblock %}
{% block page_desc %}Pew Pew Pew{% endblock %}

{% block content %}
    <style>
        #blog-post-content {
            min-height: 400px;
            width: 100%;
            margin: 10px 0 0 0;
            padding: 0;
        }
        .post-component-row {
            padding: 0 0 10px 0;
            margin: 0 0 10px 0;
            border-bottom: 1px solid #cccccc;
            list-style: none;
        }
        .post-component-row > .component-handle {
            width: 30px;
            float: left;
        }
        .post-component-row > .component-handle > i {
            font-size: 18px;
            color: #aaa;
            cursor: ns-resize;
        }
        .post-component-row > .component-content {
            float: left;
            width: calc(100% - 35px);
        }
        .post-component {
            min-height: 200px;
            margin-bottom: 20px;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        ul.example li.placeholder {
            position: relative;
            /** More li styles **/
        }
        ul.example li.placeholder:before {
            position: absolute;
            /** Define arrowhead **/
        }
    </style>
    {% stylesheets
        '@LineStormBlogBundle/Resources/public/css/dropzone.css'
        filter='cssrewrite' output='compiled/css/blog.css' %}
     <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="/bundles/linestormblog/css/select2.css" />

    {% javascripts
        '@LineStormBlogBundle/Resources/public/js/dropzone.js'
        '@LineStormBlogBundle/Resources/public/js/select2/select2.min.js'
        output='compiled/js/blog.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="/bundles/linestormblog/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/bundles/linestormblog/js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">

        var savePost = function(callback){
            var form, data, field, fname;

            if(callback === undefined)
                callback = function(){};

            form = $('form[name="linestorm_blogbundle_blogpost"]');

            data = {};

            for(var i=0 ; i<form[0].length ; ++i){
                field = form[0][i];
                if(field.name){
                    fname = field.name;

                    if(field.type === 'radio'){
                        data[fname] = data[fname] || [];
                        data[fname].push(field.value);
                    } else if(field.type === 'checkbox'){
                        data[fname] = field.checked ? field.value : null;
                    } else {
                        if(field.name.match(/\[\]$/)){
                            fname = field.name.replace(/\[\]$/, '');
                            data[fname] = data[fname] || [];
                            data[fname].push($(field).val());
                        } else {
                            data[fname] = $(field).val();
                        }
                    }
                }
            }

            var sData = serializeForm(data);

            $.ajax({
                url: '{{ path('linestorm_blog_admin_module_post_api_post_post_post') }}',
                type: 'POST',
                data: JSON.stringify(sData),
                dataType: 'json',
                success: callback
            });

        };

        var serializeForm = function($form){

            var self = this,
                json = {},
                push_counters = {},
                patterns = {
                    "validate": /^[a-zA-Z][a-zA-Z0-9_]*(?:\[(?:\d*|[a-zA-Z0-9_]+)\])*$/,
                    "key":      /[a-zA-Z0-9_]+|(?=\[\])/g,
                    "push":     /^$/,
                    "fixed":    /^\d+$/,
                    "named":    /^[a-zA-Z0-9_]+$/
                };


            this.build = function(base, key, value){
                base[key] = value;
                return base;
            };

            this.push_counter = function(key){
                if(push_counters[key] === undefined){
                    push_counters[key] = 0;
                }
                return push_counters[key]++;
            };

            $.each($form, function(i,v){

                // skip invalid keys
                if(!patterns.validate.test(this.name)){
                    return;
                }

                var k,
                    keys = i.match(patterns.key),
                    merge = v,
                    reverse_key = i;

                while((k = keys.pop()) !== undefined){

                    // adjust reverse_key
                    reverse_key = reverse_key.replace(new RegExp("\\[" + k + "\\]$"), '');

                    // push
                    if(k.match(patterns.push)){
                        merge = self.build([], self.push_counter(reverse_key), merge);
                    }

                    // fixed
                    else if(k.match(patterns.fixed)){
                        merge = self.build([], k, merge);
                    }

                    // named
                    else if(k.match(patterns.named)){
                        merge = self.build({}, k, merge);
                    }
                }

                json = $.extend(true, json, merge);
            });

            return json;
        };

        $(document).ready(function(){
            $('.post-save').on('click', function(){
                savePost(function(){
                    alert('saved!');
                });
            });
        })

    </script>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.liveOn) }}
        {{ form_row(form.category) }}

        <hr />

        {% block components %}
            {{ render_post_component_new(module.component('tag')) }}
            {{ render_post_component_new(module.component('article')) }}
            {{ render_post_component_new(module.component('gallery')) }}
        {% endblock %}

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <div id="PostContent"></div>
            </div>

        </div>

        <hr />

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default post-save">Save</button>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
