{% extends 'form_div_layout.html.twig' %}

{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}
        <form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            <div class="col-sm-{% if label is same as(false) %}12{% else %}10{% endif %}">{{ form_widget(form) }}</div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-sm-2 control-label')|trim}) %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{% if help is defined %} <i class="fa-question-circle blue" title="{{ help }}"></i>{% endif %}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}


{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"
        {%- if read_only %} readonly="readonly"{% endif -%}
        {%- if disabled %} disabled="disabled"{% endif -%}
        {%- if required %} required="required"{% endif -%}
        {%- if max_length %} maxlength="{{ max_length }}"{% endif -%}
        {%- if pattern %} pattern="{{ pattern }}"{% endif -%}
        {%- set hasClass = false -%}
        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title'] -%}
                {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrname == 'class' -%}
                {%- set hasClass = true -%}
                {% if attrvalue|length %}
                    {{- attrname }}="{{ attrvalue }}"
                {% else %}
                    {{- attrname }}="form-control {{ attrvalue }}"
                {% endif %}
            {%- elseif attrvalue is sameas(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not sameas(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}
        {%- if not hasClass -%}
            {{- " " -}}
            {{- ' class="form-control"' -}}
        {%- endif -%}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                <div class="row">
                    <div class="col-xs-6">{{ form_errors(form.date) }}</div>
                    <div class="col-xs-6">{{ form_errors(form.time) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">{{ form_widget(form.date) }}</div>
                    <div class="col-xs-6">{{ form_widget(form.time) }}</div>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block textarea_widget %}
    {% spaceless %}
        {% if inline is same as(true) %}
            <div {{ block('widget_attributes') }} contenteditable="true" data-role="textarea">{{ value|raw }}</div>
        {% else %}
            <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
        {% endif %}
    {% endspaceless %}
{% endblock textarea_widget %}

{% block dropzone_widget %}
    {% import _self as fn %}
    {% macro dzPreview(child) %}
        {% spaceless %}
            <div class="dz-preview">
                <div class="panel-left">
                    <img class="dz-image" data-dz-thumbnail {% if child %}src="{{ child.image.offsetGet('src').vars.value }}"{% endif %} />
                    <a class="dz-remove" href="javascript:undefined;" data-dz-remove><i class="fa-times"></i> Remove</a>
                </div>
                <div class="dz-details">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                        </div>
                    </div>
                    {% if not child %}
                    <div class="row">
                        <div class="col-xs-4">
                            <strong>Details:</strong>
                        </div>
                        <div class="col-xs-8">
                            <div class="dz-size" data-dz-size>Uploaded</div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="dz-image-form" data-prototype="<div>__widget__</div>" data-count="0">
                        {% if child %}{{ form_row(child) }}{% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endspaceless %}
    {% endmacro %}

    {% spaceless %}
        <div class="dropzone" data-preview="{{ fn.dzPreview()|e('html_attr') }}" {% if prototype is defined %}data-prototype="{{- form_widget(prototype)|e -}}"{% endif %}>
            {% for child in form %}
                {{ fn.dzPreview(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block tag_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}


{% block linestorm_blog_form_post_gallery_image_widget %}
    {% spaceless %}
        {{ form_widget(form.order) }}
        {{ form_widget(form.body) }}
        <hr />
        <a href="#" class="options-toggle" data-toggle="image-options">Image Options <i class="pull-right fa-angle-down"></i></a>
        <div class="image-options" style="display: none">
            {{ form_row(form.image) }}
        </div>

    {% endspaceless %}
{% endblock %}
