{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlogPost</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{{ entity.createdOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Editedon</th>
                <td>{{ entity.editedOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Liveon</th>
                <td>{{ entity.liveOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deletedon</th>
                <td>{{ entity.deletedOn|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('linestorm_blog_admin_post') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('linestorm_blog_admin_post_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
